
:root {
  --color-goldenrod: goldenrod;
  --color-darkgrey: #333333;
  --color-parchment: #FAF3E0;
  --color-black: black;
  --color-crimson: crimson;
  --font-metamorphosis: "Metamorphous", serif;

  --background-html-linear-gradient: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
}


*, *::before, *::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: serif;
}

img {
  max-width: 100%;
  display: block;
}

html, body {
  height: auto;
  min-height: 100vh;
}

body {
  background: var(--background-html-linear-gradient);
  background-repeat: no-repeat;
}

/* STYLING */
.bold {
  font-weight: bold;
}
.indent {
  margin-left: 10px;
}
.center {
  text-align: center;
}

/* typography */
.inner-container h1 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 0.5em;
  text-shadow: 0 0 0.5px white;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  text-shadow: 0 0 1px goldenrod;
}




/* STRUCTURE */
/* CONTAINER */
.inner-container {
  background-color: var(--color-parchment);
  border: 1px solid var(--color-goldenrod);
  color: var(--color-darkgrey);
  text-shadow: 0 0 1px goldenrod;
  width: 95%;
  max-width: 600px;
  margin: 2em auto;
  border-radius: 10px;
  padding: 0.8em;
}

.btn-area {
  text-align: center;
}

#create-btn {
  padding: 10px 15px;
  border: 2px solid var(--color-goldenrod);
  background-color: var(--color-crimson);
  color: var(--color-goldenrod);
  margin-top: 0.5em;
  font-size: 1.5rem;
}

#create-btn:hover, #create-btn:focus {
  opacity: 0.5;
  cursor: pointer;
}

#create-btn:active {
  opacity: 1;
}

/* CHARACTER SHHET AND IMAGE */

.character-sheet {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 1em;
  gap: 0.5em;
  border: 1px solid var(--color-goldenrod);
  border-radius: 10px;
  overflow: hidden;
}

.character-image {
  width: 100%;
  margin: 0 auto;
}

.character-image img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid var(--color-goldenrod);
}

.character-details {
  width: 100%;
  margin: 1em;
}


/* Larger screen sizes */
@media all and (min-width:755px) {
  .inner-container {
    width: 70%;
    max-width: 800px;

  }
  .inner-container h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .character-sheet {
    flex-direction: row;
  }
}
