
:root {
  --color-goldenrod: goldenrod;
  --color-darkgrey: #333333;
  --color-parchment: #FAF3E0;
  --color-black: black;
  --color-crimson: crimson;
  --font-metamorphosis: "Metamorphous", serif;

  --background-html-linear-gradient: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
}


*, *::before, *::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: serif;
}

img {
  max-width: 100%;
  display: block;
}

html, body {
  height: auto;
  min-height: 100vh;
}

body {
  background: var(--background-html-linear-gradient);
  background-repeat: no-repeat;
}

/* STYLING */

.styled-font {
  font-family: "Metamorphous", serif;
}
.bold {
  font-weight: bold;
}
.indent {
  margin-left: 10px;
}
.center {
  text-align: center;
}

/* typography */

.hero-text h1 {
  font-size: 3rem;
}

.hero-text p {
  font-size: 2rem;
}



/* STRUCTURE */

/* HOME PAGE HERO IMAGE AND STYLING */
.hero-image {
  /* background: url('./cat\ floating\ on\ D20.png'); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/cat\ floating\ on\ d20-2.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.hero-text {
  text-align: center;
  padding-top: 2em;
  color: white;
  font-family: var(--font-metamorphosis);
}

.icons-section {
  max-width: 500px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 2em; */
}

.icons-section section a {
  text-align: center;
  text-decoration: none;
}

section a img {
  border-radius: 50%;
  max-width: 100px;
  margin: 0 auto;
}




/* Larger screen sizes */
@media all and (min-width:755px) {
  .inner-container {
    width: 80%;
    /* max-width: 2000px; */
    margin-top: 5em;

  }
  .inner-container h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  h3 {
    margin-top: 0.5em;
    font-size: 2rem;
  }

  .icons-section {
    flex-direction: row;
  }
}
