
:root {
  --color-goldenrod: goldenrod;
  --color-darkgrey: #333333;
  --color-parchment: #FAF3E0;
  --color-black: black;
  --color-crimson: crimson;
  --font-metamorphosis: "Metamorphous", serif;

  --background-html-linear-gradient: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
}


*, *::before, *::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: serif;
}

img {
  max-width: 100%;
  display: block;
}

html, body {
  height: auto;
  min-height: 100vh;
}

body {
  background: var(--background-html-linear-gradient);
  background-repeat: no-repeat;
}

/* STYLING */

/* [aria-current="page"] {
  opacity: 0.5;
  background: var(--background-html-linear-gradient);
} */
.styled-font {
  font-family: "Metamorphous", serif;
}
.bold {
  font-weight: bold;
}
.indent {
  margin-left: 10px;
}
.center {
  text-align: center;
}

/* FONTS */
.nav-list ul li a {
  font-family: var(--font-metamorphosis);
}


/* typography */
.inner-container h1 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1em;
  text-shadow: 0 0 0.5px white;
}

.inner-container h2 {
  margin-bottom: 0.8em;
}


p {
  font-size: 1rem;
  line-height: 1.5;
  text-shadow: 0 0 1px goldenrod;
}




/* STRUCTURE */

/* CONTAINER */
.inner-container {
  background-color: var(--color-parchment);
  border: 1px solid var(--color-goldenrod);
  color: var(--color-darkgrey);
  text-shadow: 0 0 1px goldenrod;
  width: 95%;
  max-width: 600px;
  margin: 2em auto;
  border-radius: 10px;
  padding: 0.8em;
}


/* ADD THIS TO SPELLS.CSS */
.two-col {
  display: flex;
  flex-direction: column;
  /* for desktop change to row */
}
.col {
  width: 100%;
}

.left-col {
  margin-bottom: 2em;
}

#myInput {
  /* background-image: url('/images/Search_Icon.svg.png'); Add a search icon to input */
  /* background-position: 10px 12px; */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 90%;
  padding: 12px 0px 12px 40px;
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px;
}

.table-wrapper {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid var(--color-goldenrod);

}
table {  
  max-width: 100%;
  border-collapse: collapse; 
  table-layout: fixed;
  font-size: 0.75rem;
}

thead th {
  position: sticky;
  height: 3em;
  top: 0;
  background-color: var(--color-parchment);
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  z-index: 2;
}

tbody tr {
  table-layout: fixed;
  width: 100%;
}

th, td {
  padding: 0.5em 1em;
  border-bottom: 2px solid goldenrod; /* row borders! */
  text-align: left;
}
td {
  padding-bottom: 1.5em;
}

tr:hover, 
tr:active {
  /* opacity: 0.5; */
  color: red;
  cursor: pointer;
}
.highlight {
  background-color: darkgray;
  color: white;
  /* opacity: 0.5; */
}





/* Larger screen sizes */
@media all and (min-width:755px) {
  .inner-container {
    width: 70%;
    max-width: 800px;
  }
  .inner-container h1 {
    font-size: 2rem;
  }
  .inner-container h3 {
    margin-top: 0.5em;
    font-size: 1.5rem;
  }
  p {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  /* for spells page at wider screens */
  .two-col {
    flex-direction: row;
  }
  .table-wrapper {
    height: 500px;
    margin-right: 1em;
  }

  table {
    font-size: 0.9rem;
  }
}
